li{
    list-style: none;
    padding: 0%;
}
.SaboresImagenes{
    box-shadow: 5px 5px;
    filter: sepia(60%);
}
.SaboresImagenes:hover{
    filter: sepia(0%);
    transition: 500ms;
}

@media all and (max-width: 767px){
    .BannerPanaderia{
        height: 250px;
        object-fit: cover;

    }
    .IconosCel{
        text-align: center;

    }    
}